<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Logo" src="../images/bull-dog.jpg">
</div>

<div id="about">
  <h2>About</h2>
  <p>
    We tear down barns in mid Missouri. It's really great...
    We have wood, tin, and furniture made by 9th degree master carpenter Gerald Miner.
  </p>
</div>

<div id="contact-info">
  <h2>Contact Info</h2>
  <div id=contact-details>
    <ul>
      <li>David Miner</li>
      <li>(660)-384-1301</li>
      <li>dsminer@hotmail.com</li>
    </ul>
  </div>
</div>

<div id="wood" class="pictures">
  <h2>Wood</h2>
  <div class="nav-arrow">
    <img [hidden]="!HasPicturesLeft(visibleWood)" (click)="visibleWood = left(visibleWood)" src="../images/left-arrow.svg">
  </div>
  <div class="picture-list">
    <img class="picture" [hidden]="IsHidden(visibleWood, 1)" alt="Wood" src="../images/wood.jpg">
    <img class="picture" [hidden]="IsHidden(visibleWood, 2)" alt="Wood" src="../images/wood1.jpg">
    <img class="picture" [hidden]="IsHidden(visibleWood, 3)" alt="Wood" src="../images/wood2.jpg">
    <img class="picture" [hidden]="IsHidden(visibleWood, 4)" alt="Wood" src="../images/wood3.jpg">
    <img class="picture" [hidden]="IsHidden(visibleWood, 5)" alt="Wood" src="../images/wood4.jpg">
  </div>
  <div class="nav-arrow">
    <img [hidden]="!HasPicturesRight(visibleWood, 5)" (click)="visibleWood = right(visibleWood)" src="../images/right-arrow.svg">
  </div>
</div>

<div id="furniture" class="pictures">
  <h2>Furniture</h2>
  <div class="nav-arrow">
    <img [hidden]="!HasPicturesLeft(visibleFurniture)" (click)="visibleFurniture = left(visibleFurniture)" src="../images/left-arrow.svg">
  </div>
  <div class="picture-list">
    <img class="picture" [hidden]="IsHidden(visibleFurniture, 1)" alt="Wood" src="../images/table.jpg">
  </div>
  <div class="nav-arrow">
    <img [hidden]="!HasPicturesRight(visibleFurniture, 1)" (click)="visibleFurniture = right(visibleFurniture)" src="../images/right-arrow.svg">
  </div>
</div>

<div id="tin" class="pictures">
  <h2>Tin</h2>
  <div class="nav-arrow">
    <img [hidden]="!HasPicturesLeft(visibleTin)" (click)="visibleTin = left(visibleTin)" src="../images/left-arrow.svg">
  </div>
  <div class="picture-list">
    <img class="picture" [hidden]="IsHidden(visibleTin, 1)" alt="Wood" src="../images/tin.jpg">
  </div>
  <div class="nav-arrow">
    <img [hidden]="!HasPicturesRight(visibleTin, 1)" (click)="visibleTin = right(visibleTin)" src="../images/right-arrow.svg">
  </div>
</div>

<router-outlet></router-outlet>
