#contact-info
  margin: 0 auto

#contact-details
  text-align: left
  width: 350px
  margin: 0 auto

.pictures
  height: 80%
  margin: 0 auto
  min-width: 500px

img
  margin-left: .5em
  margin-right: .5em
  max-width: 60%
  vertical-align: middle

.nav-arrow
  cursor: pointer
