<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Logo" src="../images/bull-dog.jpg">
</div>

<div id="about">
  <h2>About</h2>
  <p>We tear down barns in mid Missouri. It's really great...</p>
</div>

<div id="contact-info">
  <h2>Contact Info</h2>
  <ul id=contact-details>
    <li>Barn Lord</li>
    <li>(XXX)-XXX-XXXX</li>
    <li>email@email.com</li>
  </ul>
</div>

<div id="wood">
  <h2>Wood</h2>
  <img class="nav-arrow" (click)="leftWood()" src="../images/left-arrow.svg">
  <img [hidden]="IsHidden(1)" width="300" alt="Wood" src="../images/wood.jpg">
  <img [hidden]="IsHidden(2)" width="300" alt="Wood" src="../images/wood1.jpg">
  <img [hidden]="IsHidden(3)" width="300" alt="Wood" src="../images/wood2.jpg">
  <img [hidden]="IsHidden(4)" width="300" alt="Wood" src="../images/wood4.jpg">
  <img class="nav-arrow" (click)="rightWood()" src="../images/right-arrow.svg">
</div>

<div id="furniture">
  <h2>Furniture</h2>
  <img width="300" alt="Table" src="../images/table.jpg">
</div>

<div id="tin">
  <h2>Tin</h2>
  <img width="300" alt="Tin" src="../images/tin.jpg">
</div>

<router-outlet></router-outlet>
