/* You can add global styles to this file, and also import other style files */
html
  background-image: url("images/background.jpg")

body
  background-color: white
  text-align: center
  margin: 0 auto
  border-radius: 1em
  min-height: 1000px
  margin-top: 1em
  margin-bottom: 1em
  margin-left: .5em
  margin-right: .5em
  padding-top: 1em
  padding-bottom: 1em
  padding-left: .5em
  padding-right: .5em
  font-size: 1.5em

.pictures
  height: 80%
  margin: 0 auto

img
  vertical-align: middle

.picture-list
  display: inline-block
  margin-left: .2em
  margin-right: .2em
  max-width: 100%

.picture-list img
  width: 80%
  max-width: 800px

.nav-arrow
  display: inline-block
  width: 32px

.nav-arrow img
  cursor: pointer
