<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Logo" src="../images/bull-dog.jpg">
</div>

<div id="about">
  <h2>About</h2>
  <p>
    We reclaim old barns in mid Missouri.
    We have wood, tin, and furniture available.
  </p>
</div>

<div id="contact-info">
  <h2>Contact Info</h2>
  <div id=contact-details>
    <div>
      <span>David Miner</span>
    </div>
    <div>
      <span>(660)-384-1301</span>
    </div>
    <div>
      <span>dsminer@hotmail.com</span>
    </div>
  </div>
</div>

<app-wood></app-wood>

<app-furniture></app-furniture>

<app-tin></app-tin>

<router-outlet></router-outlet>
